/*Stylesheet for admin to make minor interface changes*/
/*Granskad och godkänd 2014-03-04*/

h4 {
	font-family: Verdana;
  text-align: center;
}

#addAgeClass {
  margin-left:55%;
  margin-right:auto;
  zoom:1.5;
}

#addAgeClass2 {
  margin-left:5%;
  margin-right:auto;
  zoom:1.5;
}

.adminTable {
	margin: 5% auto;
	text-align: center;
	padding: 5px;
	width: 40%;
}

.adminTable button {
  font-family:verdana;
	height:100%;
  width:100%;
}

.createcompTable {
	margin: 2% auto;
}

#adminlogo
{
  padding: 5px;
	text-align:center;
	vertical-align: middle;
}

#adminpicid {
	height:15%;
	width:15%;
}

#bronk {
  background-color:#bfcbff;
  width:18%;
  height:100%;
  margin-left:41%;
  margin-right:auto;
  margin-top:0;
  font-family:Verdana;
}

#chosenAge {
  margin-left: 34.5%;
}

#chooseP {
  text-align:center;
  font-family:Verdana;
}

#compLogo {
  margin-left:46%;
  margin-right:auto;
  margin-top:2%;
  width: 8%;
  height: 13%;
}

#discP {
  margin-left:0;
  margin-right:auto;
  font-weight:bold;
  font-family:verdana;
}

#innerBody {
	background-color: white;
  margin: 5% 10% 5%;
  padding:1% 0 1%;
  
	/* outer shadows  (note the 10gba is red, green, blue, alpha) */
	-webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 20px 20px 20px rgba(23, 69, 88, .5);
	
  /* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
}

#selectBox {
  margin-right:auto;
  zoom:1.5; /*Increase the size of checkboxes*/
} 

#selectedDisciplines {
  font-family:Verdana;
  margin-left:5%;
}

#selectedDiscP {
  margin-left:0;
  margin-right:auto;
  font-weight:bold;
  font-family:Verdana;
}

td {
  font-family:Verdana;
}

#whichDisciplines {
  margin-left:55%;
  width:40%;
  font-family:verdana;
}