/*Stylesheet for admin to make minor interface changes*/
/*Granskad och godkänd 2014-03-04*/

#adminHeaderDiv h5 {
  text-align:center;
  font-family:Verdana;
}

#addAgeClass {
  float:right;
  zoom:1.5;
}

#addAgeClass2 {
  margin-left:5%;
  margin-right:auto;
  zoom:1.5;
}

.adminTable {
	margin: 5% auto;
	text-align: center;
	padding: 5px;
	width: 40%;
  table-layout:fixed;
}

#selectedDisciplines tr:nth-child(n+2) {
background: #c2cbff
}

#selectedDisciplines tr:nth-child(2n+2) {
background: #ebeeff
}

#whichDisciplines tr:nth-child(n+2) {
background: #c2cbff
}

#whichDisciplines tr:nth-child(2n+2) {
background: #ebeeff
}

.adminTable button {
	height:100%;
  width:100%;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e60b5), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e60b5, #65a9d7);
   background: -moz-linear-gradient(top, #3e60b5, #65a9d7);
   background: -ms-linear-gradient(top, #3e60b5, #65a9d7);
   background: -o-linear-gradient(top, #3e60b5, #65a9d7);
   padding: 11px 22px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Verdana, 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.adminTable button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.adminTable button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.createcompTable {
	margin: 2% auto;
}

#adminlogo
{
  padding: 5px;
	text-align:center;
	vertical-align: middle;
}

#adminpicid {
	height:15%;
	width:15%;
}

#bronk {
  background-color:#bfcbff;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  font-family:Verdana;
  text-align:left;
  table-layout:fixed; 
  border-spacing:10px;
}

#competition h1 {
  text-align:center;
}

#chosenAge {
  margin-left: 34.5%;
}

#chooseP {
  text-align:center;
  font-family:Verdana;
}

#compLogo {
  margin-left:46%;
  margin-right:auto;
  margin-top:2%;
  width: 8%;
  height: 13%;
}

#discP {
  margin-left:0;
  margin-right:auto;
  font-weight:bold;
  font-family:verdana;
}

#done {
  float:left;
   border-top: 1px solid #5fff33;
   background: #1f6e18;
   background: -webkit-gradient(linear, left top, left bottom, from(#24ab22), to(#1f6e18));
   background: -webkit-linear-gradient(top, #24ab22, #1f6e18);
   background: -moz-linear-gradient(top, #24ab22, #1f6e18);
   background: -ms-linear-gradient(top, #24ab22, #1f6e18);
   background: -o-linear-gradient(top, #24ab22, #1f6e18);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-family: Verdana, 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   zoom:1.5;
}

#done:hover {
   border-top-color: #1e661c;
   background: #1e661c;
   color: #ccc;
   }
#done:active {
   border-top-color: #0e5708;
   background: #0e5708;
   }

#innerBody {
	background-color: white;
  margin: 5% 10% 5%;
  padding:1% 0 1%;
  
	/* outer shadows  (note the 10gba is red, green, blue, alpha) */
	-webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 20px 20px 20px rgba(23, 69, 88, .5);
	
  /* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
}

#selectBox {
  margin-right:auto;
  zoom:1.5; /*Increase the size of checkboxes*/
} 

#selectedDisciplines {
  font-family:Verdana;
  margin-left:5%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
	-webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 2px 2px 2px rgba(23, 69, 88, .5);
}

#selectedDiscP {
  margin-left:0;
  margin-right:auto;
  font-weight:bold;
  font-family:Verdana;
}

td {
  font-family:Verdana;
}

#whichDisciplines {
  margin-left:55%;
  width:40%;
  font-family:verdana;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
	-webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 2px 2px 2px rgba(23, 69, 88, .5);
}