/*Stylesheet for admin to make minor interface changes*/
/*Granskad och godkänd 2014-03-04*/

h4 {
	font-family: Verdana;
  text-align: center;
}

.adminTable {
	margin: 5% auto;
	text-align: center;
	padding: 5px;
	width: 40%;
}

.adminTable button {
  font-family:verdana;
	height:100%;
  width:100%;
}

.createcompTable {
	margin: 2% auto;
}

#adminlogo
{
  padding: 5px;
	text-align:center;
	vertical-align: middle;
}

#adminpicid {
	height:10%;
	width:10%;
}

#chosenAge {
  margin-left: 34.5%;
}

#innerBody {
	background-color: white;
  margin: 5% 10% 5%;
  padding:1% 0 1%;
  
	/* outer shadows  (note the 10gba is red, green, blue, alpha) */
	-webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 20px 20px 20px rgba(23, 69, 88, .5);
	
  /* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
}