#logga
{
	vertical-align: middle;
	text-align:center;
	padding: 5px;
}
#innerBody
{
	background-color: white;

	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 20px 20px 20px rgba(23, 69, 88, .5);

	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
}
body
{
	background-color: white;
	
	border: 2px solid black;
	border-radius: 5px;
	
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;
}
.firstTableList
{
	text-align: center;
	padding: 5px;
	font-family: andalus;

	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
h1
{
	text-align: middle;
	text-align: center;
	color: powderblue;
	font-family: andalus;
}
#buttons{
	text-align: center;
	color:rgb(1,1,1) ;
}

#button{
	background-color:rgb(255,255,255);
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 6em;
	height: 3em;
}

.footer{
	position:fixed;
	left:0em;
	bottom:0em;
    height:3em;
	width:100%;
	background-color:white;  
	font-family:Andalus;
}

.left-links{
	margin-left: 12em;
	float:left;
}

.right-links{
	margin-right: 14em;
	float:right;
}

.footer li {
    list-style-type:none;
    float:left;
    padding-left:4em;
}
.footer a {
  	font-family:"Andalus";
    color:black;
	/*style-type:none*/
}