#logga
{
	vertical-align: middle;
	text-align:center;
	padding: 5px;
}
#innerBody
{
	background-color: white;
	
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;

	background-color: white;

	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 20px 20px 20px rgba(23, 69, 88, .5);

	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;
}
hr
{
	width: 80%;
    height: 30px;
    border-style: solid;
    border-color: orange;
    border-width: 3px 0 0 0;
}
body
{

}
.firstTableList
{
	text-align: center;
	padding: 5px;
	font-family: andalus;

	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
h1
{
	text-align: center;
	color: powderblue;
	font-family: Andalus;
}
#buttons{
	text-align: center;
	color:rgb(1,1,1) ;
}

#button{
	background-color:rgb(255,255,255);
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 6em;
	height: 3em;
}

.footer{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: orange;
	font-family:Andalus;	
}

.left-links{
	float:left;
}

.right-links{
	float:right;
}

.footer li {
    list-style-type:none;
    float:left;
    padding-left:4em;
}
.footer a {
  	font-family:"Andalus";
    color:black;
}

.odd
{
	background-color: #C1C1C1;
}
.even
{
	background-color: #E4E4E4; 
}